<!DOCTYPE html>
<html lang="en">
<head>
    <title>Software Dev Lab1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item"> 
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="hobbies.html">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="projects.html">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resume.html">Resume</a>
                    </li>
                </ul>
                <div class="ms-auto">
                    <a class="navbar-logo" href="#">
                        <img src="../resources/img/pexels-photo-1805164.jpeg" alt="Bootstrap" width="100" height="100">
                    </a>
                </div>
            </div>
        </div>
    </nav>
    
    <h1> </h1>
    
    <div style="display: flex; align-items: center;">
        <img src="../resources/img/IMG_6204.JPG" alt="Photo of myself" width="450" height="600" id="self-image">
        <p class="outlined-paragraph" id="self-desc" style="margin-left: 10px;">This is a photo of me in Mexico. <br>
            I am from Arvada Colorado and I am studying computer science <br>at the University of Colorado Boulder. <br>
            I really enjoy lifting weights and playing video games. I would <br>
            enjoy developing video games in the future or something similar.</p>
        </div>
        <footer id="footer" class="footer-container">
            <ul style="list-style-type: none; display: flex; justify-content: space-between; padding: 0;">
                <li><a href="https://twitter.com/YourUsername"><img src="../resources/img/twitter.png" alt="Twitter" height="50" width="50"></a></li>
                <li><a href="https://www.instagram.com/zac.baileyy"><img src="../resources/img/Instagram_logo_2022.svg" alt="Instagram" height="50" width="50"></a></li>
                <li><a href="https://www.linkedin.com/in/zac-bailey-39261224a/"><img src="../resources/img/linkedin.png" alt="LinkedIn" height="50" width="50"></a></li>
            </ul>
        </footer>
    </body>
    </html>
    