#self-desc {
  font-size: 30px;
  color: black;
  vertical-align: text-top;
  
}
.outlined-paragraph {
  border: 2px solid grey;
  padding: 10px; 
}
#navbar {
  font-size: 50px;
  color: #82b5ee;
  background-color: darkgray;
}

body {
  background-color: darkgrey;
}

#hobbies.grid-container {
  display: flex;
}
.hobby-card {
  
  margin: 10px;
  width: calc(33.33% - 20px);
  background-color: #333;
  border: 2px solid black; 
  border-radius: 10px;
  text-align: center;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#Information {
  border: 3px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
#collection {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
