.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#self-desc {
  margin-right: 20px; /* Adjust as needed for spacing between text and image */
}

#self-image {
  /* If you need the image to be centered within its flex item space, you can use this: */
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#navbar {
  font-size: 30px;
  color: #979797;
  background-color: #b9b9b9;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* This makes the content expand to fill the space */
}
.footer-container {
  background-color: #b9b9b9; /* Light gray background */
  padding: 1rem 0; /* Padding at the top and bottom */
}

.footer-content {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Adds space between the text and icons */
}
.footer-icons a:first-child {
  margin-right: 10px; /* Adjust the value as needed for the gap */
}
.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligns icons in the center vertically */
}

.footer-large-text {
  font-size: 1.5em; /* Sets the font size */
  margin-bottom: 10px; /* Space between Resume link and phone number */
}




#hobbies.grid-container {
  display: flex;
}

.hobby-card {
  
  margin: 10px;
  width: calc(33.33% - 20px);
  background-color: #333;
  border: 2px solid black; 
  border-radius: 10px;
  text-align: center;
  color: white;
}

#Information {
  border: 3px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
#collection {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
