.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#self-desc {
  margin-right: 20px; /* Adjust as needed for spacing between text and image */
}

#self-image {
  /* If you need the image to be centered within its flex item space, you can use this: */
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#navbar {
  font-size: 30px;
  color: #979797;
  background-color: darkgray;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* This makes the content expand to fill the space */
}

.footer-container {
  background-color: #7e7e7e; /* Bootstrap's light gray color */
  padding: 1rem 0;
  margin-top: auto; /* This pushes the footer to the bottom */
}





#hobbies.grid-container {
  display: flex;
}

.hobby-card {
  
  margin: 10px;
  width: calc(33.33% - 20px);
  background-color: #333;
  border: 2px solid black; 
  border-radius: 10px;
  text-align: center;
  color: white;
}

#Information {
  border: 3px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
#collection {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
